// Used to be able to edit values of bootstrap scss and css variables
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

// Variables
$primary_light: #F8F9FA;
$secondary_light: #E7F1FF;
$tertiary_light: #D3E0F2;
$accent_light: #0E76FE;

$primary_dark: #171717;
$secondary_dark: #1E242C;
$tertiary_dark: #2B323C;
$accent_dark: #5C97E4;

$warning: #FFC107;
$danger: #DC3545;
