@import "site.variables.scss";

// Import bootstrap to be able to customize it with scss variables
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "site.layout.scss";

// Variables
$primary_light: #F8F9FA;
$secondary_light: #E7F1FF;
$tertiary_light: #D3E0F2;
$accent_light: #0E76FE;

$primary_dark: #171717;
$secondary_dark: #1E242C;
$tertiary_dark: #2B323C;
$accent_dark: #5C97E4;

$warning: #FFC107;
$danger: #DC3545;



// Login style - TODO: NEED TO BE MOVED
@import "site.variables.scss";

// Import bootstrap to be able to customize it with scss variables
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "site.layout.scss";

// Variables
$primary_light: #F8F9FA;
$secondary_light: #E7F1FF;
$tertiary_light: #D3E0F2;
$accent_light: #0E76FE;

$primary_dark: #171717;
$secondary_dark: #1E242C;
$tertiary_dark: #2B323C;
$accent_dark: #5C97E4;

$warning: #FFC107;
$danger: #DC3545;


// Login style - TODO: NEED TO BE MOVED IN OTHER FILE
body {
    background-color: $primary_light;
}

.login-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-header {
    background-color: $secondary_light;
    color: black;
    text-align: center;
    padding: 20px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-logo {
    max-width: 250px;
    margin-bottom: 20px;
}

.welcome-text {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
}

.login-subtext {
    font-size: 1.8em;
    margin: 0;
}

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.input-group {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Shadow only in the lower part */
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    background-color: $tertiary_light;

    input {
        background-color: $tertiary_light;
    }

    input:focus, input:active {
        background-color: $tertiary_light;
    }
}

.form-control {
    font-size: 1.2em;
    padding: 5px;
}

.btn-primary {
    background-color: $accent_light;
    border-color: $accent_light;
    font-size: 1.2em;
    padding: 5px 10px;
    width: 100%;
}

.password-reset-link {
    color: $accent_light;
    text-decoration: none;
    display: block;
    text-align: left;
}

.password-reset-link:hover {
    text-decoration: underline;
}