:root {
  --primary-color: #F8F9FA;
  --secondary-color: #E7F1FF;
  --tertiary-color: #D3E0F2;
  --accent-color: #0E76FE;
  --warning-color: #FFC107;
  --danger-color: #DC3545;
  --button-blue-color: #0e76fe;
  --text-primary-color: black;
  --title-color: black;
}

[data-theme=dark] {
  --primary-color: #171717;
  --secondary-color: #1E242C;
  --tertiary-color: #2B323C;
  --accent-color: #5C97E4;
  --warning-color: #FFC107;
  --danger-color: #DC3545;
  --button-blue-color: #5c97e4;
  --text-primary-color: white;
  --title-color: white;
}

.navbar {
  background-color: var(--secondary-color);
  color: var(--text-primary-color);
}
.navbar .navbar-brand img {
  height: 45px;
  width: 70px;
}
.navbar .nav-link {
  color: var(--text-primary-color);
}
.navbar .nav-link:hover {
  color: var(--accent-color);
}
.navbar .nav-link.active {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  color: var(--text-primary-color);
}

.dropdown-menu {
  background-color: var(--secondary-color);
  color: var(--text-primary-color);
}

.dropdown-item {
  color: var(--text-primary-color);
}
