@import "../site.variables.scss";

.filter-bar {
    background-color: var(--secondary-color); // colore della barra
    border-radius: 10px;

    .dropdown {
        position: relative;
        border-radius: 0;

        .filter-bar-btn {
            background-color: var(--secondary-color); // colore del bottone dell’hamburger
            color: var(--text-primary-color); // colore del testo nel bottone
            border: none;
            font-weight: 500;
            border-radius: 10px 0px 0px 10px;
            padding: 0.5rem 1rem;

            &:focus,
            &:active {
                outline: none;
                box-shadow: none;
            }
        }

        .dropdown-menu {
            margin-top: 0;
            background-color: var(--secondary-color);
            border-top: none;
            border-radius: 0 0 10px 10px;
        }

        .filter-bar-dropdown {
        }
    }

    .filter-bar-text {
        color: grey; // colore del testo “FILTER BY”
        font-weight: 500;
        font-size: 1rem;
    }
}

.input {
    background-color: var(--secondary-color);
    border: none;
}
