@import "../site.variables.scss";

.filter-bar {
    background-color: $secondary_light; // colore della barra
    border-radius: 5px;

    .dropdown {
        position: relative;
        // border: solid 2px $accent_light;
        border: none;
        border-radius: 0;

        .filter-bar-btn {
            background-color: $secondary_light; // colore del bottone dell’hamburger
            color: black; // colore del testo nel bottone
            // border: none;
            font-weight: 500;
            
            border: 2px solid $secondary_light;
            border-bottom:none;
            border-radius: 10px 0px 0px 10px;

            padding: 0.5rem 1rem;

            &:focus,
            &:active {
                outline: none;
                box-shadow: none;
            }
        }

        .dropdown-menu {
            margin-top: 0;
            background-color: $secondary_light;
            border:  2px solid $accent_light;
            border-top:none;
            border-radius: 0 0 10px 10px;
            // margin-top: -2px;
            // border-radius: 0 0 10px 10px;
        }

        .filter-bar-dropdown {
        }
    }

    .filter-bar-text {
        color: grey; // colore del testo “FILTER BY”
        font-weight: 500;
        font-size: 1rem;
    }
}

.input{
    background-color: $secondary_light;
    border: none;
}
