// Navbar custom SCSS
@import "../site.variables.scss";

.navbar {
    background-color: var(--secondary-color);
    color: var(--text-primary-color);

    .navbar-brand {
        img {
            height: 45px;
            width: 70px;
        }
    }

    .nav-link {
        color: var(--text-primary-color);

        &:hover {
            color: var(--accent-color);
        }

        &.active {
            font-weight: 600;
            text-decoration: underline;
            text-decoration-color: var(--accent-color);
            text-decoration-thickness: 3px;
            text-underline-offset: 4px;
            color: var(--text-primary-color);
        }
    }
}

.dropdown-menu {
    background-color: var(--secondary-color);
    color: var(--text-primary-color);
}

.dropdown-item {
    color: var(--text-primary-color);
}
