@model Mako.Web.Areas.Worker.Models.RequestViewModel
@{
    ViewData["Title"] = "Manage shifts";
}

<div class="container-fluid p-0">
    <header class="text-black text-center py-3">
        <h1 class="fw-bold">@ViewData["Title"]</h1>
    </header>
    <main class="mt-4 mb-5">
    </main>
</div>