@model Mako.Web.Areas.Worker.Models.ShiftViewModel
@{
    ViewData["Title"] = "Your shifts";
}

<div class="container-fluid p-0">
    <header class="text-black text-center py-3">
        <h1>@ViewData["Title"]</h1>
    </header>
    <main class="mt-4">
        <!-- TODO -->
    </main>
</div>
